[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = {version = "==3.8.1", index = "pypi"}
aio-pika = {version = "==8.0.3", index = "pypi"}
aiodns = {version = "==3.0.0", index = "pypi"}
cchardet = {version = "==2.1.7", index = "pypi"}
motor = {version = "==3.0.0", index = "pypi"}
pydantic = {version = "==1.9.1", index = "pypi"}
dnspython = {version = "==2.2.1", index = "pypi"}

[dev-packages]
build = {index = "pypi"}

[requires]
python_version = "3.10"
